<div id="main">
  <form action="" class="search-form">
    <div class="form-group">
      <input type="text" placeholder="Search git jobs" [(ngModel)]="searchText" name="searchText" (keyup)="findJob()">
    </div>
  </form>
  <table id="jobs">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Company</th>
    </tr>
    <tr *ngFor = "let job of jobs">
      <td>
        {{job.title}}
      </td>
      <td>
        {{job.location}}
      </td>
      <td>
        {{job.company}}
      </td>
    </tr>
  </table>
</div>

