
#main {
    padding: 20px;

}
input{
    width: 97%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }
#jobs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #jobs td, #jobs th {
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }
  
  #jobs tr:hover {background-color: #ddd;}
  
  #jobs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
  }